<html lang="fr">
<head th:replace="inc/head">
	
<title th:text="${appName}"> Article </title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>

<div th:include="inc/nav"></div>
<br/>
<div class="container">
<h1>Fiche Produit :</h1>
<br />
<div class="card text-center">
  <div class="card-header">
    Le produit selectionné est : <h4><span th:text="${article.name}"></span></h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Son prix est de <span th:text="${article.price}"></span>€ l'unité</h5>

  </div>
  <div class="card-footer text-muted">
   	<span class="badge badge-success">En stock</span>
  </div>
</div>

</div>
</body>
</html>