<html>
<head th:include="inc/head">
<title th:text="${appName}"> </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:include="inc/nav"></div>
<br/>

<div class="container">
<h1> Supprimer un article :</h1>
<br />
<table class="table">
<thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
   <tbody>
    <tr th:each="allArticle: ${allArticle}">
      <td th:text="${allArticle.name}"></td>
      <td th:text="${allArticle.price}"></td>
      <td><a th:href="@{'http://localhost:8081/api/articles/delete/'+${allArticle.id}}"><i class="fas fa-times"></i></a></td>
    </tr>
  </tbody>
</table>
</div>
</body>

</html>