<html>
<head th:insert="inc/head"><title th:text="${appName}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:include="inc/nav"></div>
<br/>

<div class="container">
<p>Nous sommes le <span th:text="${#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm')}">date du jour</span></p>

<p>Jour : <span th:text="${#temporals.dayOfWeekName(localDateTime)}">jour</span></p>


<td>
	<span th:if="${#temporals.dayOfWeekName(localDateTime) == 'dimanche' OR #temporals.dayOfWeekName(localDateTime) == 'samedi'}"> Weekend ! </span>
	<span th:unless="${#temporals.dayOfWeekName(localDateTime) == 'dimanche' OR #temporals.dayOfWeekName(localDateTime) == 'samedi'}"> Au boulot ! </span>
</td>
<br />

<td th:switch="${numSaison}">
<!--   <td th:switch="0">-->
	<span th:case="1"> <img src="https://www.latendresseencuisine.com/wp-content/uploads/2013/11/printemps.jpg"></span>
	<span th:case="2"> <img src="http://www.quotidiendutourisme.com/wp/wp-content/uploads/2017/05/Plage-Tunisie.jpg"></span>
	<span th:case="3"> <img src="https://www.drostatic.com/images/lemagfemmes/home/automne16.jpg"></span>
	<span th:case="4"> <img src="https://e-rse.net/wp-content/uploads/2018/03/hiver-froid-rechauffement-climatique-825x510.jpg"></span>
	<span th:case="0">Inconnu</span>
</td>


<br>
<table>
<tr th:each="saisons: ${saisons}">
	<td th:if="${saisons.current == true}" th:text="${saisons.name}" style="font-weight : bold"></td>
	<td th:unless="${saisons.current == true}" th:text="${saisons.name}"></td>
</tr>
</table>
<br>


</div>
</body>
</html>