<html>
<head th:include="inc/head">

<title th:text="${appName}"> </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 
</head>
<body>

<div th:include="inc/nav"></div>
<br/>
<div class="container">
<h1>Bonjour !</h1>
<p>Bienvenue sur <span th:text="${appName}">Notre application</span></p>
<p> Ici vous allez pouvoir afficher, ajouter, supprimer des articles !</p>

<b>Liste des articles :</b>
<table class="table">
<thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">Auteur</th>
      <th scope="col">Description</th>
    
	  <th scope="col">Genre</th>
      <th scope="col">Fiche</th>
      
    </tr>
  </thead>
   <tbody>
    <tr th:each="allArticle: ${allArticle}">
    
      <td th:text="${allArticle.name}"></td>
      <td th:text="${allArticle.price}"></td>
      <td th:text="${allArticle.auteur}"></td>
      <td th:text="${allArticle.description}"></td>
	  <td th:text="${allArticle.genre}"></td>
      <td><a th:href="@{'http://localhost:8081/article?id='+${allArticle.id}}"><i class="fas fa-book fa-2x"></i></a></td>
 
    </tr>
  </tbody>
</table>

</div>
</body>
</html>