<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="heure">Heure</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ajout">Ajouter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="delete">Supprimer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="recherche">Rechercher</a>
      </li>
     </ul>
     
     <form class="form-inline my-2 my-lg-0" action="recherche" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="produit">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
